# PlatformIO & ESP32
.pio/
libdeps/
*.bin
*.elf
*.hex

# Python & Edge Server
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
esp_load/include/secrets.h 

# Data
*.csv 
*.dat

# IDEs & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
